<footer class="footer">
  <small>
    The <a href="GOOGLE.com">EAT BRAINZ</a>
    by <a href="www.google.com">GIIMEMEEE BRAINS</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about brainz",   about_path %></li>
      <li><%= link_to "help w/ brainz", contact_path %></li>
      <li><a href="https://www.google.com">brain news</a></li>
    </ul>
  </nav>
</footer>
